
body {
    background: rgba(205, 125, 200, 0.204);
    color: rgba(243, 4, 151, 0.934);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(239, 41, 160, 0.257);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(241, 15, 113);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #0c0c0ce1;
}

/* main container area beneath menu */
main {
    background: rgba(243, 5, 172, 0.286);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgba(214, 14, 121, 0.28) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}


         /* portfolio styles */
         .content h1 {
            color: rgba(240, 22, 229, 0.87);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }